.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.drawContainer {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    border: 2px solid blue;
}

.gridSquare {
    box-sizing: border-box;
    border: 1px solid black;
}