.container {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

