.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.drawContainer {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: auto;
    width: 500px;
    height: 500px;
    border: 2px solid blue;
}

.gridSquare {

    width: 10px;
    height: 10px;
    border: 1px solid black;
}